<div id="thread_content">
	<h1 class="uk-card-title">{{title}}</h1>
	<p class="uk-article-meta">{{_ "Total"}} {{thread.last_floor}} {{_ "Posts"}}</p>
	{{#if req.user}}<a class="uk-button uk-button-primary" onclick="reply('{{thread.id}}')">{{_ "Reply"}}</a>{{/if}}
</div>

<script>
	var stateObj = { thread: "{{thread.id}}" }; history.pushState(stateObj, "{{title}}", "?thread={{thread.id}}");
	$("#page_side_content").html("");
	$("#thread_content").appendTo($("#page_side_content"));

	function reply(tid) {
		$.post("/ajax", {reply_thread:tid}, (result) => {
			$("#page_content").html(result);
		});
	}
</script>

<div class="uk-section uk-width-1-1">
	<h1 class="uk-heading-primary">{{title}}</h1>
	<script>
	function enter_forum(f) {
		$("#page_content").html("<div class=\"uk-flex uk-flex-middle uk-flex-center\"><div uk-spinner></div></div>");
		$.post("/ajax", {forum:f}, (result) => { $("#page_content").html(result) });
	}
	</script>
	<ul class="uk-breadcrumb">
    <li><a onclick="enter_forum('{{forum.name}}')">{{forum_display_name}}</a></li>
    <li><span>{{title}}</span></li>
	</ul>
	<div class="uk-width-1-1 uk-container uk-padding-small@m uk-padding-medium@l uk-padding-top">
		{{> post_loop}}
		{{#if req.user}}<a class="uk-button uk-button-primary" onclick="reply('{{thread.id}}')">{{_ "Reply"}}</a>{{/if}}
	</div>
</div>
