<div class="uk-width-1-1 uk-container">
	<a class="uk-card-title" onclick="enter_thread('{{id}}')">{{title}}</a>
	<p>{{_ "Created by"}} {{owner}} {{#if remove_flag}}<a href="/remove_thread?id={{id}}">{{_ "Remove"}}</a>{{/if}}</p>
</div>
