<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>

		<link rel="stylesheet" href="/css/uikit.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/uikit.min.js"></script>
		<script src="/js/uikit-icons.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css"/>
	</head>
	<body>
		<div id="content" class="uk-container">
			<div id="flash_alerts">
				{{#if success_msg}}
				<div class="uk-alert uk-alert-success uk-padding-small">{{success_msg}}</div>
				{{/if}}
				{{#if error_msg}}
				<div class="uk-alert uk-alert-danger uk-padding-small">{{error_msg}}</div>
				{{/if}}
				{{#if error}}
				<div class="uk-alert uk-alert-danger uk-padding-small">{{error}}</div>
				{{/if}}
			</div>
			<div class="uk-width-1-1 uk-grid-collapse" uk-grid>
				{{{body}}}
			</div>
		</div>

		<footer class="uk-panel uk-height-small uk-width-1-1 uk-flex uk-flex-center uk-flex-middle">
			<p>&copy; {{GConfig.App.CopyRightName}} 2017. {{{_ "Powered by <a>ForumFlow</a>"}}}</p>
		</footer>
	</body>
</html>
